/* All the Global CSS code goes here */
.auth_bg {
  background: url(assets/auth-bg.png);
  background-size: cover;
  background-position: center;
}




::-webkit-scrollbar {
  width: 5px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #EAEEF8; /* Dark track */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #EAEEF8; /* Accent color */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #EAEEF8; /* Lighter on hover */
}
